<div class="container">
    <div>
        <div class="global-cards-collection-bar">
            <div class="cards-area" *ngFor="let hero of localUser_globalHerosCollection">
                <app-collection-bar-card class="single-card"  [heroname]="hero.name" [heroImageUrl]="'../../../assets/images/' + hero.image"></app-collection-bar-card>
                <button *ngIf="!isUserOwnThisCard(hero)" class="plus-btn btn" (click)="addHeroIntoUserCollection(hero.name)">+</button>
                <button *ngIf="isUserOwnThisCard(hero)" class="minus-btn btn" (click)="removeHeroFromUserCollection(hero)">--</button>
            </div>
        </div>
        <!-- <span></span> -->
    </div>
    <div class="primary-card-section">
        <app-hero-card *ngIf="localUser_correctHeroName !== ''" class="mid-height"[heroname]="localUser_correctHeroName" [heroQuote]="localUser_correctHeroquote" [heroImageUrl]="'../../../assets/images/' + localUser_correctHeroimage" [heroStars]="localUser_correcrHeroStars"></app-hero-card>
        <button [disabled]="isHeroMaxStars()" class="train-button" *ngIf="localUser_correctHeroName !== ''" (click)="trainHero()" >train hero</button>
    </div>
    <div class="user-cards-collection">
        <div>
            <!-- <span *ngIf="userHerosCollection.length !== 0"></span> -->
            <div class=" user-cards-collection-bar">
                <div class="cards-area user-cards" *ngFor="let hero of localUser_userHerosCollection">
                    <app-collection-bar-card class="single-card user-cards"  [heroname]="hero.name" [heroImageUrl]="'../../../assets/images/' + hero.image"  (click)="makePrimaryCard(hero)"></app-collection-bar-card>
                </div>
            </div>
        </div>
    </div>
    <app-modal-error *ngIf="localUser_isModalDisplay" (closeModal)="localUser_isModalDisplay=false"></app-modal-error>
</div>