app-home-page{
    width: 100vw;
    height: 100vh;
}
app-side-bar{
    position: fixed;
    height: 100vh;
}
@media screen and (max-width: 769px){
    app-side-bar{
        height: 5rem;
        width: 100vw;
    }
}