:host{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-family: 'gotFont';
}
h2{
    font-weight: 400;
    font-size: 2.5rem;
    word-spacing: 1rem;
    margin-bottom: 5rem;
}