<div class="comtainer">
    <div class="nav">
        <div class="top-nav">
            <div class="user-image-link link top-nav-link " routerLink="/user" routerLinkActive="active"></div>
            <div class="all-card-collection-link link top-nav-link " routerLink="/heros-collection" routerLinkActive="active"></div>
            <div class="users-collection-link link top-nav-link" routerLink="/users" routerLinkActive="active"></div>
        </div>
        <div class="bottom-nav">
            <div class="settings-link link" routerLink="/settings" routerLinkActive="active"></div>
        </div>
    </div>
</div>
