/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'gotFont';
    src: url('./assets/Game\ of\ Thrones.ttf');
}
@font-face {
    font-family: 'qouteFont';
    src: url('./assets//quote.ttf');
}